<!-- Add to Calendar Button Component -->
<a href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//YourSite//EventCalendar//EN
CALSCALE:GREGORIAN
BEGIN:VEVENT
UID:{{ uid }}
DTSTART:{{ start_date }}
{% if end_date %}
DTEND:{{ end_date }}
{% endif %}
SUMMARY:{{ title }}
DESCRIPTION:{{ description }}
LOCATION:{{ location }}
URL:{{ url }}
END:VEVENT
END:VCALENDAR" download="{{ title | slugify }}.ics">
  <button
    class="inline-block bg-[{{site.bg-colors.orange-button}}] text-white font-semibold px-4 py-2 rounded-lg mt-2 hover:bg-[{{site.bg-colors.orange-button}}]/80 transition-colors duration-300">
    Add to Calendar
  </button>
</a>
