<a href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//YourSite//EventCalendar//EN
CALSCALE:GREGORIAN
BEGIN:VEVENT
UID:{{ uid }}
DTSTART:{{ start_date }}
{% if end_date %}
DTEND:{{ end_date }}
{% endif %}
SUMMARY:{{ title }}
DESCRIPTION:{{ description }}
LOCATION:{{ location }}
URL:{{ url }}
END:VEVENT
END:VCALENDAR" download="{{ title | slugify }}.ics"
    class="border-2 border-[{{site.bg-colors.orange-button}}] text-[{{site.bg-colors.orange-button}}] font-inter font-semibold px-4 py-2 rounded-lg hover:bg-[{{site.bg-colors.orange-button}}] flex items-center gap-2 hover:text-white transition-colors duration-300">
    <i class="fa-solid fa-calendar-plus text-sm"></i>
    Add to Calendar
</a>