<section id="Brands-Collaboration">
  <div
    class=" bg-[{{site.bg-colors.gray}}] flex flex-col justify-center gap-3 py-12 mt-4"
  >
    <div
      class="text-5xl font-bold text-[{{site.text-colors.darkblue}}] text-center mb-8"
    >
      Brands We Have Collaborated With
    </div>
    <!-- Responsive flex: column on small screens, row on medium and up -->
    <div
      class="flex flex-col lg:flex-row md:flex-row flex-wrap justify-center gap-10 items-center"
    >
      <div class="w-32 aspect-w-16 aspect-h-9">
        <img
          class="object-contain h-auto"
          src="../assets/images/brands/leapfrog.png"
          alt="leapfrog"
        />
      </div>
      <div class="w-32 aspect-w-16 aspect-h-9">
        <img
          class="object-contain h-auto"
          src="../assets/images/brands/khalti.png"
          alt="Khalti"
        />
      </div>
      <div class="w-32 aspect-w-16 aspect-h-9">
        <img
          class="object-contain h-auto"
          src="../assets/images/brands/veda.png"
          alt="Veda Ingrails"
        />
      </div>
      <div class="w-32 aspect-w-16 aspect-h-9">
        <img
          class="object-contain h-auto"
          src="../assets/images/brands/technoriyo.png"
          alt="Technoriyo"
        />
      </div>
      <div class="w-32 aspect-w-16 aspect-h-9">
        <img
          class="object-contain h-auto"
          src="../assets/images/brands/digital_gurkha.png"
          alt="Digital Gurkha"
        />
      </div>
      <div class="w-32 aspect-w-16 aspect-h-9">
        <img
          class="object-contain h-auto"
          src="../assets/images/brands/techaxis.png"
          alt="Techaxis"
        />
      </div>
      <div class="w-32 aspect-w-16 aspect-h-9">
        <img
          class="object-contain h-auto"
          src="../assets/images/brands/bok.png"
          alt="Bank of Kathmandu"
        />
      </div>
    </div>
  </div>
</section>
