<section
  id="members"
  class="py-8 px-10 2xl:px-72 xl:px-44 lg:px-16 md:px-28 sm:px-6"
>
  <h2 class="text-3xl font-bold text-center text-gray-800">
    Executive Members
  </h2>

  <!-- Toggle for Years -->
  <div class="flex justify-center mt-6">
    <button
      id="btn-2024"
      class="toggle-btn font-bold border-4 border-[{{site.bg-colors.orange-button}}] bg-[{{site.bg-colors.orange-button}}] hover:bg-[{{site.bg-colors.orange-button}}]/90 text-white py-2 px-4 rounded-full mr-2"
      onclick="showYear('members_2024', this)"
    >
      2024/25
    </button>
    <button
      id="btn-2023"
      class="toggle-btn font-bold border-4 border-[{{site.bg-colors.orange-button}}] text-[{{site.bg-colors.orange-button}}] hover:bg-[{{site.bg-colors.orange-button}}]/90 hover:text-white py-2 px-4 rounded-full"
      onclick="showYear('members_2023', this)"
    >
      2023/24
    </button>
  </div>

  <!-- Members for 2024 -->
  <div
    id="members_2024"
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8 mt-10"
  >
    <!-- Member cards for 2024 -->
    {% for member in site.data.members.members_2024 %}
    <div
      class="member-card relative bg-[{{site.bg-colors.darkBlue}}] p-6 rounded-2xl transition duration-300 ease-in-out"
    >
      <div class="w-full flex justify-center">
        <img
          src="{{ member.image }}"
          alt="{{ member.name }}"
          class="md:w-[300px] w-full h-[240px] object-cover mb-4 rounded-md"
        />
      </div>
      <span class="text-start">
        <h3 class="text-xl font-semibold text-center text-white">
          {{ member.name }}
        </h3>
        <p class="text-sm text-center text-gray-300">{{ member.title }}</p>
      </span>

      <div
        class="description absolute inset-0 bg-[{{site.bg-colors.orange-button}}] cursor-pointer flex flex-col justify-between items-center text-white p-4 text-center rounded-lg opacity-0 transition-opacity duration-300 ease-in-out"
      >
        <div class="flex-grow flex items-center justify-center">
          <p>{{ member.description }}</p>
          <!-- Flex-grow ensures this stays centered -->
        </div>
        <div class="social-icons flex justify-end w-full space-x-4 px-4 pb-4">
          <!-- Social media icons aligned at the bottom -->
          <a
            href="https://www.linkedin.com/{{ member.linkedin }}"
            class="text-white"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://twitter.com/{{ member.twitter }}" class="text-white">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Members for 2023 -->
  <div
    id="members_2023"
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8 mt-10 hidden"
  >
    <!-- Member cards for 2023 -->
    {% for member in site.data.members.members_2023 %}
    <div
      class="member-card relative bg-[{{site.bg-colors.darkBlue}}] p-6 rounded-2xl transition duration-300 ease-in-out"
    >
      <div class="w-full flex justify-center">
        <img
          src="{{ member.image }}"
          alt="{{ member.name }}"
          class="md:w-[300px] w-full h-[240px] object-cover mb-4 rounded-md"
        />
      </div>
      <span class="text-start">
        <h3 class="text-xl font-semibold text-center text-white">
          {{ member.name }}
        </h3>
        <p class="text-sm text-center text-gray-300">{{ member.title }}</p>
      </span>
      <div
        class="description absolute inset-0 bg-[{{site.bg-colors.orange-button}}] cursor-pointer flex flex-col justify-between items-center text-white p-4 text-center rounded-lg opacity-0 transition-opacity duration-300 ease-in-out"
      >
        <div class="flex-grow flex items-center justify-center">
          <p>{{ member.description }}</p>
          <!-- Flex-grow ensures this stays centered -->
        </div>
        <div class="social-icons flex justify-end w-full space-x-4 px-4 pb-4">
          <!-- Social media icons aligned at the bottom -->
          <a
            href="https://www.linkedin.com/{{ member.linkedin }}"
            class="text-white"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://twitter.com/{{ member.twitter }}" class="text-white">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<style>
  .square-img {
    width: 260px;
    height: 200px;
    object-fit: cover; /* Ensures the image retains aspect ratio but fills the square */
  }

  .member-card {
    position: relative;
    overflow: hidden;
  }

  /* On hover, show the description */
  .member-card:hover .description {
    opacity: 1;
  }

  /* Styling for the social media icons */
  .social-icons i {
    font-size: 1.5rem;
    transition: color 0.3s ease;
  }

  .social-icons a:hover i {
    color: #023047; /* Change icon color on hover */
  }

  /* Make the description appear on hover */
  .description {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
</style>
