<footer
  class="text-white py-8 px-6 md:px-20 lg:px-28 bg-[{{site.data.tailwind-colors.bg-colors.darkBlue}}]"
>
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Left Section: Contact Info -->
    <div class="text-center md:text-left">
      <h2 class="md:text-4xl text-lg font-bold mb-4">{{site.title}}</h2>
      <p class="mb-2 gap-4 flex md:text-base text-sm items-center">
        <i class="fas fa-location-dot"></i>
        Ground Floor, Teachers Block, KEC Marg Mathillo, Dhapakhel 23, Lalitpur,
        44700 NP
      </p>
      <p class="mb-2 gap-3 md:text-base text-sm flex items-center">
        <i class="fa-solid fa-phone"></i>
        <span>
          <a href="tel:+977-1-5229204" class="hover:text-gray-400"
            >+977-1-5229204</a
          >,
          <a href="tel:+977-1-5229005" class="hover:text-gray-400"
            >+977-1-5229005</a
          ></span
        >
      </p>
      <p class="mb-4 gap-4 md:text-base text-sm flex items-center">
        <i class="fa-solid fa-envelope"></i>
        <a href="mailto:computerclub@kec.edu.np" class="hover:text-gray-400">
          {{site.email}}
        </a>
      </p>
      <!-- Social Media Icons -->
      <div class="flex justify-center md:justify-start space-x-4">
        <a
          href="https://www.facebook.com/{{ site.facebook_username }}"
          target="_blank"
          class="hover:text-gray-400"
          ><i class="fab fa-facebook"></i
        ></a>
        <a
          href="https://www.instagram.com/{{ site.instagram_username }}"
          target="_blank"
          class="hover:text-gray-400"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/{{ site.linkedin_username }}"
          target="_blank"
          class="hover:text-gray-400"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a
          href="https://github.com/{{ site.github_username }}"
          target="_blank"
          class="hover:text-gray-400"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://twitter.com/{{ site.twitter_username }}"
          target="_blank"
          class="hover:text-gray-400"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </div>

    <!-- Right Section: Newsletter Subscription -->
    <div class="mt-6 md:mt-0 text-center">
      <h2 class="md:text-2xl text-base font-bold mb-4 text-start">
        Subscribe to our newsletter
      </h2>
      <form class="flex justify-center items-center bg-gray-500 p-2 rounded-lg">
        <div class="bg-gray-300 p-1 rounded-l-lg flex items-center">
          <input
            type="email"
            placeholder="example@gmail.com"
            class="p-2 rounded-lg focus:outline-none text-black bg-transparent"
          />
        </div>
        <button
          type="submit"
          class="bg-[{{site.data.tailwind-colors.bg-colors.orange-button}}] text-white px-4 py-3 rounded-r-lg hover:bg-[{{site.data.tailwind-colors.bg-colors.orange-button}}]/80"
        >
          Subscribe
        </button>
      </form>
    </div>
  </div>

  <!-- Footer Bottom -->
</footer>
<div
  class="p-3 text-white border-gray-600 bg-[{{site.data.tailwind-colors.bg-colors.baseBlack}}]"
>
  <div
    class="container mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <p class="text-sm text-center">
      &copy; 2024 KEC Computer Club | All Rights Reserved
    </p>
    <p class="text-sm text-center">
      Designed & Developed by
      <a
        href="https://github.com/computerclubkec/computerclubkec.github.io/graphs/contributors"
        target="_blank"
        class="font-bold hover:text-gray-400"
        >Open Source Contributors</a
      >
    </p>
  </div>
</div>
