<footer class="text-center bg-gray-800 text-white py-4">
  <p class="text-lg font-bold">{{ site.title }}</p>
  <p>
    <a
      href="https://twitter.com/{{ site.twitter_username }}"
      class="text-blue-400"
      >Twitter</a
    >
    |
    <a
      href="https://github.com/{{ site.github_username }}"
      class="text-blue-400"
      >GitHub</a
    >
    |
    <a
      href="https://www.linkedin.com/{{ site.linkedin_username }}"
      class="text-blue-400"
      >LinkedIn</a
    >
    |
    <a
      href="https://www.facebook.com/{{ site.facebook_username }}"
      class="text-blue-400"
      >Facebook</a
    >
  </p>
</footer>
