<header class="header">
    <div class="logo">
        <a href="/">
            <img src="{{ './assets/images/computer-club-logo.png' | relative_url }}" alt="Logo">
        </a>
    </div>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About Us</a></li>
            
            <li class="dropdown">
                <a href="#">Resources</a>
                <div class="dropdown-content">
                    <a href="/resource1/">BCT syallabus</a>
                    <a href="/resource2/">Roadmaps</a>
                    <a href="/resource2/">Brand assets</a>
                    <a href="/resource2/">Proposal format</a>
                </div>
            </li>
          
            <li class="dropdown">
                <a href="#">Events</a>
                <ul class="dropdown-content">
                    <li><a href="/event1/">Upcoming Events</a></li>
                    <li><a href="/event2/">Past Events</a></li>
                    <li><a href="/event2/">KEC LITE</a></li>
                </ul>
            </li>

            <li><a href="/blog/">Blog</a></li>
          <li><a href="/contact/" class="contact-button">Contact Us</a></li>
        </ul>
    </nav>
</header>