<nav class="bg-gray-800 p-4">
  <ul class="flex justify-center space-x-4">
    <li><a href="{{ '/' | relative_url }}" class="text-white">Home</a></li>
    <li>
      <a href="{{ '/about/' | relative_url }}" class="text-white">About</a>
    </li>
    <li>
      <a href="{{ '/events/' | relative_url }}" class="text-white">Events</a>
    </li>
    <li>
      <a href="{{ '/resources/' | relative_url }}" class="text-white"
        >Resources</a
      >
    </li>
    <li>
      <a href="{{ '/blog/' | relative_url }}" class="text-white">Blog</a>
    </li>
  </ul>
</nav>
