<section id="project-section" class="flex justify-center items-center">
  <div
    class="px-9 py-5 bg-[#e0e5f5] rounded-2xl border-4 border-[#85c1e9] flex flex-col justify-start items-center gap-7"
  >
    <div class="flex flex-col justify-start items-start gap-2">
      <div class="flex flex-row justify-between py-2 w-full">
        <div class="text-[#0a0a0b] text-2xl font-bold leading-8">
          Club Website
        </div>
        <div class="flex flex-row gap-2">
          <span
            class="px-3 py-2 bg-[#388e3c]/20 rounded-full text-[#28652b] text-sm font-bold"
          >
            Active/In Progress
          </span>
          <span
            class="px-3 py-2 bg-[#fb8500]/20 rounded-full text-[#f68d07] text-sm font-bold"
          >
            Open for Contributions
          </span>
          <span
            class="px-3 py-2 bg-[#d32f2f]/20 rounded-full text-[#d32f2f] text-sm font-bold"
          >
            Completed
          </span>
        </div>
      </div>
      <div class="flex gap-1 mb-2">
        <span
          class="px-3 py-2 bg-[#2980b9]/25 rounded-full text-[#2980b9] text-sm font-bold"
          >jkyll</span
        >
        <span
          class="px-3 py-2 bg-[#2980b9]/25 rounded-full text-[#2980b9] text-sm font-bold"
          >open-source</span
        >
        <span
          class="px-3 py-2 bg-[#2980b9]/25 rounded-full text-[#2980b9] text-sm font-bold"
          >hacktoberfest</span
        >
        <span
          class="px-3 py-2 bg-[#2980b9]/25 rounded-full text-[#2980b9] text-sm font-bold"
          >kantipur engineering college</span
        >
      </div>
      <div class="flex items-start gap-2 mb-2">
        <div class="text-black text-base font-normal">Technologies used:</div>
        <div class="flex gap-1">
          <div class="bg-gray-300 p-4 rounded-lg"></div>
          <div class="bg-gray-300 p-4 rounded-lg"></div>
          <div class="bg-gray-300 p-4 rounded-lg"></div>
        </div>
      </div>
      <div class="text-[#0a0a0b] text-base font-normal mb-2">
        We’re building a modern, user-friendly website for the Computer Club to
        showcase our events, projects, and community activities.
      </div>
      <div class="flex items-center gap-3">
        <div class="p-3 bg-[#24292e] rounded-lg flex items-center gap-1">
          <img
            class="w-7 h-7"
            src="https://via.placeholder.com/28x28"
            alt="GitHub Icon"
          />
          <div class="text-neutral-50 text-base font-medium">
            View on GitHub
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
