<div class="container py-10 px-2 md:mx-auto">
  <h2
    class="text-5xl font-bold text-[{{site.text-colors.darkblue}}] text-center mb-8"
  >
    Recent Events
  </h2>

  <!-- Fetch upcoming events -->
  {% assign recent_events = site.events | where: 'completed', true | sort:
  'date' | reverse %} {% assign event_count = recent_events | size %}

  <!-- Conditionally set grid based on the number of events -->
  {% if event_count == 1 %}
  <div class="grid grid-cols-1 place-items-center gap-4 md:gap-8">
    {% else %}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8">
      {% endif %} {% for event in recent_events limit: 4 %}
      <div
        class="relative bg-[{{site.bg-colors.darkBlue}}] text-white md:p-6 p-4 rounded-2xl shadow-lg transition-all duration-300 hover:shadow-xl hover:scale-[1.02] cursor-pointer {% if event_count == 1 %}md:w-[810px] w-full{% endif %}"
      >
        <a href="{{ event.url }}" class="absolute inset-0 block"></a>
        <div class="flex flex-col md:flex-row items-start md:items-center">
          <!-- Event Image -->
          <div class="md:w-1/3 w-full mb-4 md:mb-0">
            <img loading="lazy"
              src="{{ event.thumbnail }}"
              alt="{{ event.title }}"
              class="w-full h-auto md:h-60 md:w-60 rounded-lg"
            />
          </div>

          <!-- Event Info -->
          <div class="md:w-2/3 w-full md:pl-6">
            <h3 class="md:text-2xl text-base font-bold">{{ event.title }}</h3>

            <!-- Event Date Logic -->
            <p class="text-sm text-gray-400 italic font-semibold">
              <!-- Display event dates -->
              {% if event.end_date %}
              <!-- Multi-day event: Show start and end dates -->
              {{ event.date | date: "%a, %b %e, %Y" }} - {{ event.end_date |
              date: "%a, %b %e, %Y" }} {% else %}
              <!-- Single-day event: Show only the start date -->
              {{ event.date | date: "%a, %b %e, %Y" }} {% endif %}
            </p>

            <!-- Event Description with Show More/Show Less -->
            <p class="text-sm my-2">
              <!-- Shortened version of the description -->
              <span class="event-description-short"
                >{{ event.description | truncate: 120, "..." }}</span
              >
              <!-- Full description, hidden initially -->
              <span class="event-description-full hidden"
                >{{ event.description }}</span
              >

              <!-- Read More / Read Less buttons -->
              <button class="text-blue-400 read-more relative z-10">
                Read More
              </button>
              <button class="text-blue-400 read-less hidden relative z-10">
                Show Less
              </button>
            </p>

            <p class="text-sm mb-1 text-gray-400 font-bold">
              {{ event.participants }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- See More Button -->
  <div class="flex justify-center">
    <a
      href="/events/past-events"
      class="text-[{{site.bg-colors.orange-button}}] hover:text-white border-2 border-[{{site.bg-colors.orange-button}}] hover:bg-[{{site.bg-colors.orange-button}}] focus:ring-4 focus:outline-none focus:ring-[{{site.bg-colors.orange-button}}]/50 font-medium rounded-lg text-xs sm:text-sm md:text-base lg:text-lg px-4 sm:px-6 py-2 sm:py-3 text-center mb-2 dark:border-[{{site.bg-colors.orange-button}}] dark:text-[{{site.bg-colors.orange-button}}] dark:hover:text-white dark:hover:bg-[{{site.bg-colors.orange-button}}] dark:focus:ring-[{{site.bg-colors.orange-button}}]/80"
    >
      See More
    </a>
  </div>
</div>
