<div class="container py-10 px-2 md:mx-auto" data-aos="fade-up">
  <h2 class="text-5xl font-montserrat font-bold text-[{{site.text-colors.darkblue}}] text-center mb-8">
    Recent Activities
  </h2>

  <!-- Fetch upcoming events -->
  {% assign recent_activities = site.events | where: 'completed', true | sort:
  'date' | reverse %} {% assign event_count = recent_activities | size %}

  {% if event_count == 0 %}
  <div class="font-inter text-center text-gray-500 text-xl mt-16">
    No recent activities at the moment. Please check back later.
  </div>

  <!-- Conditionally set grid based on the number of events -->
  {% elsif event_count == 1 %}
  <div class="grid grid-cols-1 place-items-center gap-4 md:gap-8">
    {% else %}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8">
      {% endif %} {% for event in recent_activities limit: 4 %}
      <div
        class="relative bg-[{{site.bg-colors.darkBlue}}] text-white md:p-6 p-4 rounded-2xl shadow-lg transition-all duration-300 hover:shadow-xl hover:scale-[1.02] cursor-pointer {% if event_count == 1 %}md:w-[810px] w-full{% endif %}">
        <a href="{{ event.url }}" class="absolute inset-0 block"></a>
        <div class="flex flex-col md:flex-row items-start md:items-center">
          <!-- Event Image -->
          <div class="md:w-1/3 w-full mb-4 md:mb-0">
            <img loading="lazy" src="{{ event.thumbnail }}" alt="{{ event.title }}"
              class="w-full h-full md:h-60 md:w-60 rounded-lg" />
          </div>

          <!-- Event Info -->
          <div class="md:w-2/3 w-full md:pl-6">
            <!-- Date Badge -->
            <div
              class="inline-flex items-center gap-2 mb-2 text-sm font-inter font-regular text-[{{site.text-colors.white}}]">
              <i class="fa-solid fa-calendar-days"></i>
              <!-- Event Date Logic -->
              {% if event.end_date %}
              <!-- Multi-day event: Show start and end dates -->
              {{ event.date | date: "%a, %b %e" }} - {{ event.end_date | date: "%a, %b %e, %Y" }}
              {% else %}
              <!-- Single-day event: Show only the start date -->
              {{ event.date | date: "%a, %B %e, %Y" }}
              {% endif %}
            </div>

            <h3 class="md:text-2xl text-base font-montserrat font-bold">{{ event.title }}</h3>

            <!-- Event Description with Show More/Show Less -->
            <p class="font-inter text-sm my-1">
              <!-- Shortened version of the description -->
              <span class="event-description-short">{{ event.description | truncate: 120, "..." }}</span>
              <!-- Full description, hidden initially -->
              <span class="event-description-full hidden">{{ event.description }}</span>

              <!-- Read More / Read Less buttons -->
              <button class="font-inter text-blue-400 read-more relative z-10">
                Read More
              </button>
              <button class="font-inter text-blue-400 read-less hidden relative z-10">
                Show Less
              </button>
            </p>

            <p class="text-sm mb-1 text-gray-400 font-inter font-bold">
              {{ event.participants }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- See More Button -->
  <div class="flex justify-center">
    <a href="/events/past-events"
      class="font-inter text-[{{site.bg-colors.orange-button}}] hover:text-white border-2 border-[{{site.bg-colors.orange-button}}] hover:bg-[{{site.bg-colors.orange-button}}] focus:ring-4 focus:outline-none focus:ring-[{{site.bg-colors.orange-button}}]/50 font-medium rounded-lg text-xs sm:text-sm md:text-base lg:text-lg px-4 sm:px-6 py-2 sm:py-3 text-center mb-2 dark:border-[{{site.bg-colors.orange-button}}] dark:text-[{{site.bg-colors.orange-button}}] dark:hover:text-white dark:hover:bg-[{{site.bg-colors.orange-button}}] dark:focus:ring-[{{site.bg-colors.orange-button}}]/80"
      data-aos="fade-up">
      See More
    </a>
  </div>
</div>