<div class="container py-10 px-2 md:mx-auto">
  <h2
    class="text-5xl font-bold text-[{{site.text-colors.darkblue}}] text-center mb-8"
  >
    Upcoming Events
  </h2>

  <!-- Fetch upcoming events -->
  {% assign upcoming_events = site.events | where: 'completed', false | sort:
  'date' | limit: 4 %} {% assign event_count = upcoming_events | size %}

  <!-- Conditionally set grid based on the number of events -->
  {% if event_count == 1 %}
  <div class="grid grid-cols-1 place-items-center gap-4 md:gap-8">
    {% else %}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-8">
      {% endif %} {% for event in upcoming_events %}
      <div class="flex justify-center">
        <div
          class="bg-[{{site.bg-colors.darkBlue}}] text-white md:p-4 p-4 rounded-2xl shadow-lg {% if event_count == 1 %}w-[810px]{% endif %}"
        >
          <div class="flex flex-col md:flex-row items-start md:items-center">
            <!-- Event Image -->
            <div class="md:w-1/3 w-full mb-4 md:mb-0">
              <img
                src="{{ event.banner_image }}"
                alt="{{ event.title }}"
                class="w-60 h-60 object-cover rounded-lg"
              />
            </div>

            <!-- Event Info -->
            <div class="md:w-2/3 w-full md:pl-6">
              <h3 class="md:text-2xl text-base font-bold">{{ event.title }}</h3>
              <p class="text-sm text-gray-400 italic font-semibold">
                {{ event.date | date: "%a, %B %e, %Y" }}
              </p>

              <!-- Event Description with Show More/Show Less -->
              <p class="text-sm my-2">
                <span class="event-description-short">
                  {{ event.description | truncate: 120, "..." }}
                </span>
                <span class="event-description-full hidden">
                  {{ event.description }}
                </span>

                <a href="#" class="text-blue-400 read-more">Read More</a>
                <a href="#" class="text-blue-400 read-less hidden">Show Less</a>
              </p>

              <p class="text-sm mb-1 text-gray-400 font-bold">
                {{ event.participants }}
              </p>

              <!-- Register Button -->
              <a
                href="{{ event.registration_link }}"
                class="inline-block bg-[{{site.bg-colors.orange-button}}] text-white font-semibold px-4 py-2 rounded-lg mt-2 hover:bg-[{{site.bg-colors.orange-button}}]/80"
              >
                Register Now
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
