<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body>
    {% include nav.html %}

    <div class="container py-10 px-2 md:mx-auto">
      <div class="blog-hero flex flex-col items-center justify-center">
        <div class="title text-4xl sm:text-4xl md:text-4xl lg:text-5xl font-bold pb-5 text-center">
          Our Latest Blogs
        </div>

        <div class="blog-container grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
          {% for post in sorted_posts %}
          <div class="blog-card w-full m-2 p-4 border border-gray-300 rounded-lg shadow-lg bg-white">
            <img src="{{ post.image | default: '/assets/images/default-image.jpg' }}" 
                 alt="{{ post.title }}" 
                 class="w-full h-48 object-cover rounded-lg mb-4">
            <div class="blog-content">
              <p class="text-sm text-gray-500">{{ post.reading_time }} min read</p>
              <p class="text-sm text-gray-500">{{ post.date | date: "%d %B, %Y" }}</p>
              <h2 class="text-xl font-semibold my-2">{{ post.title }}</h2>
              <p class="text-base text-gray-700 mb-3">{{ post.excerpt }}</p>
              <a href="{{ post.url }}" class="text-blue-500 font-bold hover:underline">Read More →</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
