<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body>
    {% include nav.html %}
    {% if page.manual == false %}
    <div
      class="event-hero flex flex-col items-center justify-center lg:px-25 md:px-20 sm:px-15 px-10"
    >
      <div
        class="title text-4xl sm:text-4xl md:text-4xl lg:text-5xl font-bold pt-10 pb-3"
      >
        {{ page.title }}
      </div>

      <div
        class="title text-20px lg:text-xl md:text-xl sm:text-[20px] text-gray-500"
      >
        {% if page.end_date %} {{ page.date | date: "%a, %b %e, %Y" }} - {{
        page.end_date | date: "%a, %b %e, %Y" }} {% else %} {{ page.date | date:
        "%a, %b %e, %Y" }} {% endif %}
      </div>
      <div
        class="title text-20px lg:text-xl md:text-xl sm:text-[20px] text-gray-500"
      >
        {{ page.time }}
      </div>

      {% if page.completed ==false %}
      <a href="{{ page.registration_link }}">
        <div class="relative inset-0 pb-10">
          <button
            class="inline-block bg-[{{site.bg-colors.orange-button}}] text-white font-semibold px-4 py-2 rounded-lg mt-2 hover:bg-[{{site.bg-colors.orange-button}}]/80 transition-colors duration-300"
          >
            Register Now
          </button>
        </div>
      </a>
      {% else %}
      <div class="pb-10"></div>
      {% endif %}

      <img
        src="{{ page.banner_image }}"
        alt="{{ page.title }}"
        class="h-[50vh] w-full mb-10 rounded-[20px]"
      />

      {{content}}
    </div>
    {% else %}
      {{content}}
    {% endif %}
    {% include footer.html %}
  </body>
</html>
