<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>

  <body>
    {% include nav.html %}
    
    {% if page.custom_layout == false %}
    <div
      class="event-hero flex flex-col items-center justify-center px-4 sm:px-6 md:px-8 lg:px-0 max-w-[900px] mx-auto"
    >
      <div
        class="title text-4xl sm:text-4xl md:text-4xl lg:text-5xl font-bold pt-10 pb-3"
      >
        {{ page.title }}
      </div>

      <div class="title text-20px lg:text-xl md:text-xl sm:text-[20px] text-gray-500">
        {% if page.end_date %}
          {{ page.date | date: "%a, %b %e, %Y" }} - {{ page.end_date | date: "%a, %b %e, %Y" }}
        {% else %}
          {{ page.date | date: "%a, %b %e, %Y" }}
        {% endif %}
      </div>
      <div class="title text-20px lg:text-xl md:text-xl sm:text-[20px] text-gray-500">
        {{ page.time }}
      </div>

      <div class="relative inset-0 pb-10">
        {% if page.completed == false %}
        <a href="{{ page.registration_link }}">
          <button class="inline-block bg-[{{site.bg-colors.orange-button}}] text-white font-semibold px-4 py-2 rounded-lg mt-2 hover:bg-[{{site.bg-colors.orange-button}}]/80 transition-colors duration-300">
            Register Now
          </button>
        
      </a>
      {% assign uid = page.url %}
        {% assign start_date = page.date | date: '%Y%m%dT%H%M%S' %}
        {% assign end_date = page.end_date | date: '%Y%m%dT%H%M%S' %}
        {% assign title = page.title %}
        {% assign description = page.description %}
        {% assign location = page.location %}
        
        {% include add-to-calendar-button.html uid=uid start_date=start_date end_date=end_date title=title description=description location=location  %}
      </div>
      {% else %}
      <div class="pb-10"></div>
      {% endif %}

      <img loading="lazy"
        src="{{ page.banner_image }}"
        alt="{{ page.title }}"
        class="max-w-[900px] w-full h-auto aspect-ratio-[5/3] rounded-lg object-cover"
      />
      <div class="container py-2 items-center">
        {{content}}
      </div>

    </div>
    {% else %}
      {{ content }}
    {% endif %}
    
    {% include footer.html %}
  </body>
</html>
