<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" /> -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include nav.html %}
    <div class="content">{{ content }}</div>
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
