<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <!-- <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" /> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
</head>

<body>
  {% include nav.html %}

  <!-- Banner -->
  <div class="relative text-center">
    <img src="/assets/images/banner.png" alt="KEC Computer Club Banner"
      style="height: 50vh; width: 100%; object-fit: cover" />
    <div class="absolute inset-0 bg-black opacity-55"></div>
    <div class="w-full absolute top-20 left-0 text-center mt-10" style="color: {{ site.text-colors.base-white }}">
      <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold drop-shadow-[0_0px_3.5px_rgba(250,250,250,0.6)]">Kantipur Engineering College</h2>
      <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold drop-shadow-[0_0px_3.5px_rgba(250,250,250,0.6)]">Computer Club</h2>
      <p class="px-4 md:px-20 mt-10 mb-6 text-base md:text-lg lg:text-xl lg:mb-12">
        {{page.banner-description}}
      </p>

      <a href="/about"
        class="focus:outline-none text-white bg-[{{site.bg-colors.orange-button}}] hover:bg-[{{site.bg-colors.orange-button}}]/80 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm md:text-base lg:text-lg px-4 md:px-6 lg:px-8 py-2 md:py-3 lg:py-4 mb-4 md:mb-6 lg:mb-8 dark:focus:ring-yellow-900">
        Find out more
      </a>
    </div>
  </div>

  {% include footer.html %}
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>